//Color Variables

$white: #f4f4f4;
$grey: #707070;
$black: #0c0c0c;
$light-grey: #c9c9c9;

//Color Descriptor Variables

$logo-color: $grey;
$text-color: $black;

//Border Colors

$border-main: $light-grey;
