//Google Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300,300italic,700italic,900|Lato:400,300,300italic,400italic,700,700italic,900);

//Color Variables

$white: #f4f4f4;
$grey: #707070;
$black: #0c0c0c;
$light-grey: #c9c9c9;

//Color Descriptor Variables

$logo-color: $white;
$text-color: $black;
$text-color-secondary: $grey;

// Fonts
$text-font: 'Merriweather';
$header-font: 'Lato';

//Borders

$border-main: 1px solid $light-grey;



//Spacers

$container-margin: auto;
$container-mobile-width: 85%;

//text adjustments
$line-h: 20px;
$letter-spacing: 1px;
$letter-spacing-logo: 10px;
