.nav-main{
  // border-top: 1px solid $light-grey;
  ul{
    text-align: center;
  }
  li{
    @include padding(0.75em 0.75em 0.75em 0.75em);
    @extend %text-size; 
    &:hover{
      background-color: $black;
      a{
        color: $white;
      }
    }
  }
}
