.nav-main{
  // border-top: 1px solid $light-grey;
  ul{
    @include padding(0.25em null null null);
    text-align: center;
  }
  li{
    @include padding(1em 1em 1em 1em);
    font-size: 0.8em;
    letter-spacing: 1px;
    &:hover{
      background-color: $black;
      a{
        color: $white;
      }
    }
  }
}
