.blog-post{
  @include margin(1em null null null);
  @include padding(1em null null null);
  display: block;
  font-family: $text-font;
  line-height: $line-h;
  border-top: $border-main;
  overflow: auto;
  p{
    @extend %text-size;
    margin: inherit;
    max-width: $content-max-width;
  }
  img{
    @extend %center-block;
    width:100%;
    max-width: $content-max-width;
    border-radius: $border-radius;
  }
}
.post-heading{
  @include margin(null null 0.5em null);
  h3{
    font-size: 1.4em;
    letter-spacing: $letter-spacing;
    font-family: $header-font;
    font-weight: bold;
  }
  p{
    color: $text-color-secondary;
    @extend %text-size;
    font-family: $header-font;
    text-align: right;
  }

}
.post-links{
  @extend %text-size;
  text-align: right;
  color: $text-color-secondary;

  .fa-commenting:hover{
    @extend %link-hover;
  }
  .fa-commenting-o{
    display: none;
    &:hover{
      @extend %link-hover;
    }
  }
  .fa-comment:hover{
    @extend %link-hover;
  }
  .fa-comment-o{
    display: none;
    &:hover{
      @extend %link-hover;
    }
  }
}
