.blog-post{
  @include margin(1em null null null);
  @include padding(1em null null null);
  font-family: $text-font;
  line-height: $line-h;
  border-top: $border-main;
}
.post-heading{
  @include margin(null null 0.5em null);
  h3{
    font-size: 1.4em;
    letter-spacing: $letter-spacing;
    font-family: $header-font;
    font-weight: bold;
  }
  p{
    color: $text-color-secondary;
    font-size: 0.8em;
    font-family: $header-font;
    text-align: right;
  }

.post-body{
}

}
.post-links{
  font-size: 1em;
  font-family: $header-font;
  text-align: right;
}
