button{
  @include padding(0.75em 0.75em 0.75em 0.75em);
  @extend %center-block;
  @extend %text-size;
  background: none;
  color: $text-color-secondary;
  outline: none;
  border: none;
  border-radius: $border-radius;
  &:hover{
    color: $white;
    background: $black;
    -webkit-transition: background-color .2s linear;
  }
}
