*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background: $white;
  color: $black;
  @include background-image(url('../img/lady4.png'), cover, no-repeat, bottom)
}

a{
  color: $text-color-secondary;
  text-decoration: none;
  &:hover{
    color: $text-color;
  }
}
